:root {
    --color-text: #000000;
    --color-background: #d9fcff;
    --color-frame: #f5feff;
    --color-primary: #09cdda;
    --color-primary-text: #08b3bf;
    --color-primary-click: #008da8;
    --color-input: #d5fcff;
    --color-extra: #555555;

    --font-header: Zyzol, Roboto, Arial, ans;
    --font-sans: Roboto, Arial, sans;
    --font-serif: "Roboto Serif", serif;
}

body {
    position: relative;
    height: 100vh;
    min-height: 20em;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    overflow-x: hidden;

    color: var(--color-text);
    background-color: var(--color-background);
    
    font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

main {
    max-width: max-content;
    max-height: max-content;

    margin: 0.5em;
    padding: 1em;
    border: 0.1em solid var(--color-primary);
    border-radius: 1.75em;
    background-color: var(--color-frame);
    box-shadow: 0 0.5em 1em -0.1em #0232;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    font-size: 1.5em;
}

h1 {
    margin-bottom: 0;
}

a {
    color: inherit;
    transition-duration: 0.2s;

    &:hover,
    &:focus {
        color: var(--color-primary-text);
    }

    &:active {
        transition-duration: 0s;
        color: var(--color-primary-click);
    }
}

.tagline {
    color: var(--color-primary-text);
    margin-top: 0;
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

.ingredients {
    margin-block: 2em;
    max-width: max-content;

    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 0.5em 0.25em;
}

.ingredients > * {
    display: inline;
    padding: 0.25em;
    align-self: center;
}

.ingredients > input {
    border-radius: 1em;
    padding-inline: 0.5em;
    border: none;
    background-color: var(--color-input);
    text-align: right;
    width: 3em;
    place-self: end;

    font-family: var(--font-sans);
    font-size: 1em;
}

.extra {
    color: var(--color-extra);
    font-family: var(--font-serif);
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
}

@keyframes pan {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 3em 0;
    }
}

.background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    
    background: url('dots.svg');
    opacity: 30%;
    background-size: 3em;
    animation: pan 10s linear infinite;
}

.background .gradient {
    width: 100%;
    height: 100%;
    
    background: radial-gradient(circle at center, transparent, var(--color-background));
}

/* Reduced motion */
@media (prefers-reduced-motion) {
    .background {
        animation: none !important;
    }

    a {
        transition: none !important;
    }
}

/* Hide number input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Adapt to screen size */
@media screen and (max-width: 450px) {
    /* Make label and inputs on separate rows */
    .ingredients {
        grid-template-columns: 1fr auto;
        margin-top: 0;
        grid-row-gap: 0.25em;

        & .ingredient {
            grid-column-start: span 2;
            align-self: end;
            margin-top: 1em;
        }
    }
}

@media screen and (min-width: 451px) {
    .ingredient {
        text-wrap: nowrap;
    }
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: max-content;
    aspect-ratio: 2;
    overflow-y: hidden;

    padding: 2em 2em 1.25em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    gap: 0.5em;

    font-family: var(--font-serif);
    color: var(--color-extra);
}

footer::before {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: -100%;
    width: 100%;
    height: 200%;
    background: radial-gradient(circle at center, var(--color-background), transparent);
}

.footer-arrow {
    width: 1.2em;
    height: 1.2em;
    mix-blend-mode: multiply;
}

.footer-arrow::after {
    display: inline-block;
    content: '';
    width: 1.2em;
    height: 1.2em;
    background: transparent url('/symbols/arrow-up.svg') no-repeat;
    background-size: 1.2em;
    background-position: center;
}

.pixelnheart {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

.pixelnheart::after {
    display: inline-block;
    content: '';
    width: 1.2em;
    height: 1.2em;
    background: transparent url('/pixelnheart.png') no-repeat;
    background-size: 1.2em;
    background-position: center;

    scale: 1.2;
    translate: 0 0.2em;
}

.pixelnheart.spinning::after {
    animation: spin 0.85s ease-out;
}
@media (prefers-reduced-motion) {
    .pixelnheart.spinning::after {
        animation: none !important;
    }
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
